apiVersion: v1
kind: Secret
metadata:
  name: hsa-postgres-credentials
  namespace: hsa-app
type: Opaque
stringData:
  username: hsa
  password: postgres-password
  database: hsa_app
  # Connection string for the app
  connection_string: postgres://hsa:postgres-password@postgres.postgres-db.svc.cluster.local:5432/hsa_app?sslmode=disable
